{% extends 'base.html.twig' %}

{% block title %}Infos cryptos{% endblock %}

{% block body %}
    <main class=''>
        <section class="flex grid grid-3">
            
                
                
                {% for product in category.products %}
                    <div class="py-24 grid grid-cols-3 gap-3 place-items-center">
                        <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0 text-5xl text-orange-400 underline">  {{product.name}} : </div>
                        
                        {% if category.name == "Bitcoin" %}  
                        <img src="{{ asset('img/uploads/bitcoin.png') }}" alt="photo Bitcoin" width="200">
                        {% endif %} 

                         {% if category.name == "Ethereum" %}  
                        <img src="{{ asset('img/uploads/ethereum.png') }}" alt="photo Ethereum" width="200">
                        {% endif %} 

                         {% if category.name == "Solana" %}  
                        <img src="{{ asset('img/uploads/solana.png') }}" alt="photo Solana" width="200">
                        {% endif %} 

                         {% if category.name == "Xrp" %}  
                        <img src="{{ asset('img/uploads/xrp.png') }}" alt="photo Xrp" width="200">
                        {% endif %} 

                         {% if category.name == "Cardano" %}  
                        <img src="{{ asset('img/uploads/cardano.png') }}" alt="photo Cardano" width="200">
                        {% endif %} 

                         {% if category.name == "Dodge" %}  
                        <img src="{{ asset('img/uploads/doge.png') }}" alt="photo Dodge" width="200">
                        {% endif %} 





                        <div class="text-3xl text-violet-600"> Le prix actuel est d'environ <a class="underline text-4xl">{{product.price /100}} </a> euros </div>

                    </div>
                       
                    

                   <div class="py-10 mb-10 gap-3 h-full px-24">
                        <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0 text-2xl text-black">  {{product.description}} </div>
                    </div>
                    

                {% endfor %}
               

                
        </section>
    </main>
{% endblock %}
