{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
               Vous etes connecté comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me deconnecter</a>
            </div>
        {% endif %}
  
        <h1 class=" text-center text-3xl font-bold  text-orange-400 underline py-6">Connectez vous</h1>

        <div class="grid grid-cols-1 gap-4 place-items-center">
            <label class=" py-5 text-xl" for="inputEmail">Email :</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus class=" relative block  w-1/3 appearance-none  border border-gray-300 px-3 py-2 text-gray-900   sm:text-sm">
            <label class="py-5 text-xl" for="inputPassword">Mot de passe : </label>
            <input type="password" name="password" id="inputPassword"  autocomplete="current-password" required class="relative block w-1/3 appearance-none  border border-gray-300 px-3 py-2 text-gray-900  sm:text-sm">

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>
            
            <div class="py-5">
                <button class="text-center bg-blue-500 rounded-md py-2 px-4 text-sm" type="submit">
                Se connecter
                </button>
                <button href="{{ path('app_register') }}" class="text-center bg-violet-600 rounded-md py-2 px-4 text-sm" type="submit">
                S'inscrire
                </button>
            </div>
        </div>  
    </form>

{% endblock %}

